name: LeetCode
on:
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: LeetCode
        uses: lowlighter/metrics@latest
        with:
           filename: metrics.plugin.leetcode.svg
           token: ${{ secrets.METRICS_TOKEN }}
           base: ""
           plugin_leetcode_user: wesleyscholl
           plugin_leetcode: yes
           plugin_leetcode_limit_skills: 20
           plugin_leetcode_limit_recent: 5
           plugin_leetcode_sections: solved, skills, recent
