name: Metrics
on:
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    container:
      image: docker.io/library/metrics:forked-3.35.0-beta
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Metrics
        run: |
          # Example: run a command inside the image
          metrics --filename metrics.plugin.achievements.compact.svg \
                  --token ${{ secrets.METRICS_TOKEN }} \
                  --plugin-achievements yes \
                  --plugin-achievements-only "polyglot, stargazer, sponsor, deployer, member, maintainer, developer, scripter, packager, explorer, infographile, manager" \
                  --plugin-achievements-display compact \
                  --plugin-achievements-threshold X

      # - name: Pinned repositories
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.repositories.pinned.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_repositories: yes
      #     plugin_repositories_pinned: 10

      # - name: Comment reactions
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.reactions.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_reactions: yes
      #     plugin_reactions_limit: 100
      #     plugin_reactions_details: percentage

      # - name: LeetCode
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.leetcode.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_leetcode_user: wesleyscholl
      #     plugin_leetcode: yes
      #     plugin_leetcode_sections: solved, skills, recent
