name: Metrics
on:
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      #
      # - name: Pinned repositories
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.repositories.pinned.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_repositories: yes
      #     plugin_repositories_pinned: 10

      # - name: Comment reactions
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.reactions.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_reactions: yes
      #     plugin_reactions_limit: 100
      #     plugin_reactions_details: percentage

      - name: LeetCode
        uses: lowlighter/metrics@latest
        with:
           filename: metrics.plugin.leetcode.svg
           token: ${{ secrets.METRICS_TOKEN }}
           base: ""
           plugin_leetcode_user: wesleyscholl
           plugin_leetcode: yes
           plugin_leetcode_sections: solved, skills, recent
