name: Metrics
on:
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      # - name: Compact display
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.achievements.compact.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_achievements: yes
      #     plugin_achievements_only: >-
      #       polyglot, stargazer, deployer, member, maintainer, developer, scripter
      #     plugin_achievements_display: compact
      #     plugin_achievements_threshold: X

      - name: Comment reactions
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.reactions.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_reactions: yes
          plugin_reactions_limit: 100
          plugin_reactions_details: percentage

      # - name: LeetCode
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.leetcode.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_leetcode_user: wesleyscholl
      #     plugin_leetcode: yes
      #     plugin_leetcode_sections: solved, skills, recent
